@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* FilePond Custom Styles
*/

.filepond--drop-label {
color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	background-color: #edf0f4;
}

.filepond--root {
	margin: 0 auto;
}